{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<a href="{{ path('app_login') }}">Login</a> or <a href="{{ path('app_register') }}">Register</a>
{% endblock %}
