{{ form_start(incidentForm) }}
    {{ form_row(incidentForm.name, {
        label: 'Incident Name'
    }) }}

    <button type="submit" class="btn btn-primary">Create Incident</button>
{{ form_end(incidentForm) }}
