
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$custom-colors:map-merge($theme-colors, (
    "critical": #ff80ff
));

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
// $utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
// $utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
// $utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

@import "~bootstrap/scss/bootstrap";

.list-group-item {
    overflow: hidden; 
}

.event-severity {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    // left: 0;
    // top: 0;
    // bottom: 0;
    text-align: center;
    display: block;
    border-radius: 0;
    transform: rotate(180deg);
    margin: calc(var(--bs-list-group-item-padding-y)*-1) calc(var(--bs-list-group-item-padding-x)*-1);
}